[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
netscape-bookmarks-file-parser = {ref = "v1.1", git = "https://github.com/FlyingWolFox/Netscape-Bookmarks-File-Parser.git"}

[requires]
python_version = "3.7"
